.login {
  background: #202020;
  min-height: 950px;
  width: 100%;
}
.login__container {
  margin: 0 auto;
  padding-top: 70px;
  width: 396px;
}

.login__logo {
  width: 38px;
  height: 38px;
  object-fit: cover;
  object-position: center;
}

.login__logo:hover {
  opacity: 0.7;
}

.login__title {
  margin: 0;
  margin-top: 40px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.form__subtitle {
  margin: 0;
  margin-top: 24px;
  color: #8b8b8b;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form__subtitle:first-child {
  margin-top: 40px;
}

.login__input {
  padding: 0;
  width: 100%;
  background: #202020;
  border: none;
  padding-top: 6px;
  padding-bottom: 7px;
  border-bottom: 1px solid #424242;
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login__save {
  margin: 0 auto;
  margin-top: 221px;
  background: transparent;
  border: none;
  display: block;
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  width: 100%;
  height: 45px;
  background: #4285f4;
  border-radius: 3px;
}

.login__signup {
  width: 100%;
  text-decoration: none;
  color: #8b8b8b;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
  text-align: center;
  margin-top: 16px;
}

.login__another-signup_active {
  color: #4285f4;
}

.login__signup:hover {
  opacity: 0.7;
}

.login__save:hover {
  opacity: 0.7;
}

@media (max-width: 1025px) {
  .login__container {
    padding-top: 232px;
  }
}

@media (max-width: 425px) {
  .login__container {
    width: 260px;
    padding-top: 56px;
  }
  .login__logo {
    margin: 0 auto;
    display: block;
  }
  .login__title {
    margin-top: 50px;
    text-align: center;
  }
  .form__subtitle:first-child {
    margin-top: 80px;
  }
  .login__save {
    margin-top: 309px;
  }
  .login__signup {
    font-size: 12px;
  }
}
